# For Prisma Conection
# Set embase ambiente
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appname>"
# Port Conection
# If you set port on server, usigin this port
PORT_BACK=3333
