@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definindo classes personalizadas */
@layer components {
  .btn-primary {
    @apply bg-secondary text-softWhite hover:bg-softOrange h-12 min-w-30 py-4 px-6 rounded;
  }

  .btn-secondary {
    @apply bg-midGray text-softWhite hover:bg-neutralGray h-10 min-w-30 py-4 px-6 rounded;
  }

  .btn-danger {
    @apply bg-accent text-softWhite hover:bg-softRed h-12 min-w-30 py-4 px-6 rounded;
  }

  .card {
    @apply bg-midGray border border-neutralGray h-50 w-75 p-6 rounded hover:bg-softOrange;
  }

  .card-title {
    color: #F5F5F5; /* Definindo a cor diretamente */
    font-size: 24px; /* H2 */
  }

  .card-description {
    color: #B3B3B3; /* Definindo a cor diretamente */
    font-size: 16px; /* Texto Principal */
  }

  .input {
    @apply bg-softWhite border border-neutralGray text-primary placeholder-gray-500 focus:border-secondary h-10 p-4 rounded;
  }

  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .h4 {
    font-size: 18px;
  }

  .text-primary {
    font-size: 16px;
  }

  .text-secondary {
    font-size: 14px;
  }

  .text-small {
    font-size: 12px;
  }
}